<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./DashBoard/_LoginHeader.cshtml"></partial>
</head>
<body class="hold-transition login-page">
    <div>
        @RenderBody()
    </div>
    <partial name="./DashBoard/_FooterInclude.cshtml"></partial>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
